<% layout('layouts/boilerplate')%>

  <h1><%= campground.title  %></h1>
  <h2><%= campground.location  %></h2>
<form action="/campgrounds/<%= campground._id  %>?_method=delete" method="POST">
<button>DELETE ME</button>
</form>
<footer>
  <a href="/campgrounds/<%= campground._id %>/edit">Edit</a>
  <a href="/campgrounds">All campgrounds</a>
</footer>
